MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=recipe_ai
MYSQL_PORT=3307

MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=rootpassword
MONGO_DATABASE=recipe_ai
MONGO_PORT=27017

KAFKA_PORT=9094

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_PORT=8080
